<html>
	<head>
		<title>Perm guide</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, target-densitydpi=device-dpi" />
		
		<link rel="stylesheet" type="text/css" href="style.css" />

		<script type="text/javascript" charset="utf-8" src="phonegap.js"></script>

		<script type="text/javascript" src="jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="browserTouchSupport.js"></script>
		<script type="text/javascript" src="jsrender.js"></script>
		<script type="text/javascript" src="jquery.urldecoder.js"></script>
		<!-- script type="text/javascript" src="buzz.js"></script -->

		<!-- Загрузка основного кода. -->
		<script type="text/javascript" src="permguide-observable.js"></script>
		<script type="text/javascript" src="permguide-lr.js"></script>
		<script type="text/javascript" src="permguide-scheduler.js"></script>
		<script type="text/javascript" src="permguide-touch-support.js"></script>
		<script type="text/javascript" src="permguide-toggle-button.js"></script>
		<script type="text/javascript" src="permguide-scrollable-plugin.js"></script>
		<script type="text/javascript" src="permguide-dropdownmenu-plugin.js"></script>
		<script type="text/javascript" src="permguide-slider-plugin.js"></script>
		<script type="text/javascript" src="permguide-map.js"></script>
		<script type="text/javascript" src="permguide-geolocation.js"></script>
		<script type="text/javascript" src="permguide-screenmanager.js"></script>
		<script type="text/javascript" src="permguide-interface.js"></script>
		<script type="text/javascript" src="permguide-social.js"></script>
		<script type="text/javascript" src="permguide-audio.js"></script>
		<script type="text/javascript" src="permguide.js"></script>

		<script type="text/javascript">
		splashInit = function() {

			// Отобразим splash-экран.
			$("#splashScreen").css("visibility", "visible");

			// При включении/отключении тэгов, формируем 
			PermGuide.Scheduler.attachListener("started", function (){
				var strStutus = PermGuide.Language.getInterfaceString("Loading");
				$("#splashScreen .statusLine").text(strStutus);
				//var tasksCount = PermGuide.Scheduler.tasksCount();
				//var finishedTasksCount = PermGuide.Scheduler.finishedTasksCount();
				//$("#splashScreen .statusLine").text(""+finishedTasksCount+"/"+tasksCount);
			});
			
			// Завершим этот этап загрузки приложения.
			PermGuide.Scheduler.finished("SplashInit");
		};
		
		interfaceInit = function() {
			
			// Зададим мертвый радиус для клика в процентах экрана.
			//PermGuide.deadRadius = $(window).width()*0.04;
			PermGuide.deadRadius = 20;
			
			////
			// Вешаем событие на кнопку "Нажми, что бы закрыть"
			$(".backButton").touchclick( function () {
				PermGuide.ScreenManager.back();
			});
			
			////
			// Обработчик кнопки "обновления" карты.
			$(".loadMap").touchclick( function () {
				PermGuide.LoadMapManager.load();
			});
			// Кнопка переключения в список в случаи отсутствия карты.
			$(".toggleMode").touchclick( function (event) {
				$(event.target).parents(".pageSlide").find(".switchMode").data("state").toggle();
			});
			
			////
			// Инициализируем выпадаущее окно со списком меток.
			//PermGuide.DropDownWindow.init($("#tagsMenu"));
			$(".dropDownMenu").dropdownmenu();

			// Просто перехватим все события, что бы они не попадали на карту.
			$(".mapSliderPlace").touchclick( function (){}, true);

			////
			// Инициализация экранов.
			PermGuide.ScreenManager.addScreen({
				name: "mainScreen",
				screenElement: $("#mainScreen"),
				show: function (screenElement){
					$(screenElement).css("visibility", "visible");
				},
				hide: function (screenElement){
					//$(screenElement).css("visibility", "hidden");
				}
			});
			
			PermGuide.ScreenManager.addScreen({
				name: "objectScreen",
				screenElement: $("#objectScreen"),
				show: function (screenElement){
					$(screenElement).css("visibility", "visible");
					$(screenElement).animate({
						top: 0
					}, 500);
				},
				hide: function (screenElement){
					//alert("hide");
					$(screenElement).animate({
						top: $(window).height()
					}, 500, function() {
						$(screenElement).css("top", "100%");
					});
				}
			});
			PermGuide.ScreenManager.init();
			
			////
			// Инициализация скроленга страниц.
			$(".vScroller").scrollable();

			////
			// Инициализация каталога объектов на карте объектов.
			PermGuide.Interface.makeCatalog("objects", $("#objectsCatalog"));
			
			////
			// Инициализация каталога объектов на карте маршрутов.
			PermGuide.Interface.makeCatalog("routes", $("#routesCatalog"));

			////
			// Инициализация случайной картинки на первой странице.
			PermGuide.Interface.makeRandomObject($("#randomObjectContainer"));
			
			////
			// Инициализация списка популярных объектов и маршрутов.
			PermGuide.Interface.makePopularObjectsAndRoutes($("#popularPlacesContent"), $("#popularRoutesContent"));
			
			////
			// Инициализация списка популярных объектов и маршрутов.
			PermGuide.Interface.makeDropDownMenu("objects", $("#objectTags"));
			PermGuide.Interface.makeDropDownMenu("routes", $("#routeTags"));

			////
			// Обработчик события загрузки данных 
			PermGuide.ApplicationData.attachListener("loaded", function (applicationData){
				////
				// Заполним страницу с информацией о перми.
				$("#aboutPerm").html(
					$( "#aboutPermSectionTemplate" ).render(applicationData.data.info)
				);
			});

			PermGuide.ApplicationData.attachListener("objectSelected", function(object) {
				
				var pageSlider = $("#objectScreenSlider").data("state");
				pageSlider.select(0, true);
				// Сбросим позицию скроллеков.
				$("#objectScreen .objectDescription").data("state").resetPosition();
				$("#objectScreen .objectPhoto").data("state").resetPosition();
				
				/*
				// Сгенерируем из шаблона новую информацию об объекте.
				$("#objectInfo .vScroller").html(
					$( "#objectInfoTemplate" ).render([object])
				);
				*/
				$("#objectScreen .objectName .cell").text(object.name);
				
				$("#objectScreen .objectDescription").html(
					$("#objectInfoDescriptionTemplate" ).render([object])
				);
				
				if (object.pictures || object.mainPicture) {
					var photo = [];
					if (object.mainPicture) {
						photo.push({
							photoURL: object.mainPicture
						});
					}
					if(object.pictures) {
						$.each(object.pictures, function(index, picture) {	
							photo.push({
								photoURL: picture
							});
						});
					};
					
					$("#objectScreen .objectPhoto").html(
						$("#objectInfoPhotoTemplate" ).render(photo)
					);
					$("#objectScreen .photoCount").text("("+photo.length+")");
					
				} else {
					$("#objectScreen .objectPhoto").html("");
					$("#objectScreen .photoCount").text("");
				}
				
				if (PermGuide.isPhonegap)
					$("#objectScreen .social").css("display", "none");
				
				$("#objectScreen .vScroller .i18n").i18n();

				////
				// Вешаем обработчик "на главную картинку".
				$("#objectScreen .randomObject").touchclick( function (event) {
					PermGuide.ScreenManager.goToPage(1);
				});
				
				////
				// Вешаем обработчик события на кнопку "найти на карте".
				$("#objectScreen .findOnMap").touchclick( function (event) {
					var object = PermGuide.ApplicationData.selectedObject;
					var tag = object.tags[0];
					if (!tag)
						return;
					tag.activate();
					objectsMapManager.selectObject(object, true);
					
					PermGuide.ScreenManager.back();
					PermGuide.ScreenManager.goToPage(1);
				});
				
				////
				// Вешаем обработчик события на кнопку "послушать".
				var buttonElement = $("#objectScreen .audioButton");
				buttonElement.touchclick( function (event) {
					if (buttonElement.hasClass("sndPlay") || buttonElement.hasClass("sndWait")) {
						PermGuide.Audio.stop();
					} else {
						if (PermGuide.Audio.play(PermGuide.ApplicationData.selectedObject))
							buttonElement.addClass("sndWait");
					}
				});

				////
				// Вешаем обработчики событий на "социальные кнопки".
				$("#objectScreen .social img").touchclick( function (event) {
					var socilaNetwork =$(event.target).attr("class");
					PermGuide.showShareWindow(socilaNetwork, PermGuide.ApplicationData.selectedObject);
					//$("#objectScreen .social .buttons").css("display", "none");
					//$("#objectScreen .social .container").html("<iframe src='http://permguide.ru/test/vk.html'></iframe>");
				});
				
				PermGuide.ScreenManager.activateScreenByName("objectScreen");
			});
			
			////
			// Переключение между картой и списком объектов.
			$("#switchObjectMode").toggleButton({
				on: function() {
					$("#objectsCatalog").css("display", "none");
					$("#objectsMapContainer").css("display", "block");
					$("#objectsMapSlider").data("state").resize();
				},
				off: function() {
					$("#objectsMapContainer").css("display", "none");
					$("#objectsCatalog").css("display", "block");
				},
				state: true
			});

			////
			// Переключение между картой и списком объектов.
			$("#switchRouteMode").toggleButton({
				on: function() {
					$("#routesCatalog").css("display", "none");
					$("#routesMapContainer").css("display", "block");
					$("#routesMapSlider").data("state").resize();
				},
				off: function() {
					$("#routesMapContainer").css("display", "none");
					$("#routesCatalog").css("display", "block");
				},
				state: true
			});
			
			////
			// При изменении позиции устройства, поменяем указатели растояния.
			PermGuide.Geolocation.attachListener("rateRefreshed", function (){
				$(".distance").distanceRefresh();
			});

//*/
			PermGuide.Scheduler.finished("InterfaceInit");
		};
		
		dataLoad = function() {
			// Загружаем данные об объектах (достопримечательности, линии и т.д.).
			PermGuide.ApplicationData.load();
			PermGuide.ApplicationData.attachListener("loaded", function (applicationData){
				PermGuide.Scheduler.finished("DataLoad");
			});
		};
		
		mapInit = function() {
			////
			// Инициализация карты объектов.
			objectsMapManager = new PermGuide.MapManager(jQuery("#objectsMap")[0], "objects");
			// Создаем слайдер для карты объектов.
			PermGuide.Interface.makeMapSlider(objectsMapManager, "objects", $("#objectsMapSlider"));
			
			////
			// Инициализация карты маршрутов.
			routesMapManager = new PermGuide.MapManager(jQuery("#routesMap")[0], "routes");
			// Создаем слайдер для карты маршрутов.
			PermGuide.Interface.makeMapSlider(routesMapManager, "routes", $("#routesMapSlider"));

			// Обработаем события загрузчика карты.
			PermGuide.LoadMapManager.attachListener("mapLoading", function() {
				$(".map .mapLoading").css("display", "block");
				$(".map .mapLoadFail").css("display", "none");
			});

			PermGuide.LoadMapManager.attachListener("mapLoadFail", function() {
				$(".map .mapLoading").css("display", "none");
				$(".map .mapLoadFail").css("display", "block");
			});
			
			PermGuide.LoadMapManager.load();
		};

		languageSelectInit = function() {
			PermGuide.Language.init();
			
			if (PermGuide.Language.languageSelected)
			{
				PermGuide.Scheduler.finished("LanguageSelect");
				return;
			}
			// Повешаем на кнопки выбора языка обработчики.
			$(".langSelectItem").touchclick( function(event) {
				var lang = $(event.target).attr("_lang");
				PermGuide.Language.setCurrentLanguage(lang);
				
				$("#langSelectScreen").css("visibility", "hidden");
				$("#splashScreen").css("visibility", "visible");
				
				// Завершим выполнение задания.
				PermGuide.Scheduler.finished("LanguageSelect");
			});
			
			$("#splashScreen").css("visibility", "hidden");
			$("#langSelectScreen").css("visibility", "visible");
		};

		closeSplash = function() {
			// Перед тем как скрыть splash интернацианализируем интерфейс.
			$(".i18n").i18n();
		
			////
			// Включим тестовую геолокацию.
			PermGuide.Geolocation.init();

			// Закроем splash-screen
			$("#splashScreen").css("display", "none");
			$("#langSelectScreen").css("display", "none");
			
			PermGuide.ScreenManager.activateScreenByName("mainScreen");
			// Обрабатываем параметры запуска приложения.
			var res = $.url.parse(document.URL);
			if (res.params && res.params.objectId) {
				var object = PermGuide.ApplicationData.getObjectById(res.params.objectId);
				if (object)
					PermGuide.ApplicationData.selectObject(object);
			}
			
		};
		
		////
		// Перехватим событие о готовности phonegap к работе.
		document.addEventListener("deviceready", onDeviceReady, false);
		function onDeviceReady() {
			
			PermGuide.isPhonegap = true;
			PermGuide.isIPhone = (device.platform.indexOf("iPhone") != -1 || device.platform.indexOf("iPad") != -1);
			////
			// Включим тестовую геолокацию.
			PermGuide.Geolocation.initPhonegap();
			PermGuide.ScreenManager.initPhonegap();
			PermGuide.Scheduler.finished("PhonegapReady");
		}
		
		////
		// Сформируем правила загрузки приложения.
		$(document).ready(function() {
			
			// Перечисляются этапы загрузки приложения.
			PermGuide.Scheduler.addTask("SplashInit",{
				activateFn: splashInit,
				dependence: []
			});
			PermGuide.Scheduler.addTask("PhonegapReady");
			PermGuide.Scheduler.addTask("LanguageSelect",{
				activateFn: languageSelectInit,
				dependence: ["SplashInit"]
			});
			PermGuide.Scheduler.addTask("InterfaceInit",{
				activateFn: interfaceInit,
				dependence: ["LanguageSelect"]
			});
			PermGuide.Scheduler.addTask("DataLoad",{
				activateFn: dataLoad,
				dependence: ["InterfaceInit"]
			});
			PermGuide.Scheduler.addTask("MapInit",{
				activateFn: mapInit,
				dependence: ["InterfaceInit"]
			});
			PermGuide.Scheduler.addTask("ObjectsMapInit",{
				dependence: ["MapInit"]
			});
			PermGuide.Scheduler.addTask("RoutesMapInit",{
				dependence: ["MapInit"]
			});
			PermGuide.Scheduler.addTask("CloseSplash",{
				activateFn: closeSplash,
				dependence: ["DataLoad", "ObjectsMapInit", "RoutesMapInit"]
			});

			PermGuide.Scheduler.start();
			// */
		});

		</script>
		
		<!-- 
			Шаблон тэгов в выподающем окне.
		-->
		<script id="tagTemplate" type="text/x-jsrender">
			<div class="tag{{if visible}} visibledTag{{/if}}" _id="{{:id}}">
				<div class="color" style="background-color: {{:color}};" ></div>
				<div class="separator"></div>
				<div class="name">{{:name}}</div>
				<div class="picture" style="background-image: url('{{:picture}}');"></div>
				<div style="clear: both;"></div>
				<div class="foground"></div>
			</div>
		</script>

		<!-- 
			Шаблон пункта в каталоге.
		-->
		<script id="catalogItemTemplate" type="text/x-jsrender">
			<div class="catalogItem" _id="{{:id}}">
				<div class="name" style="border-left-color: {{:color}};">
					{{:name}}
					{{if tagName}}
						<div class="tagName">{{:tagName}}</div>
					{{/if}}
				</div>
				{{if distance}}
					<div class="distanceBlock">
						<div class="wrapper">
							<div _id="{{:id}}" class="cell distance"></div>
						</div>
					</div>
				{{/if}}
				<div class="foground"></div>
			</div>
		</script>
		
		<!-- 
			Шаблон плашки с популярным местом.
		-->
		<script id="popularPlaceTemplate" type="text/x-jsrender">
			<div class="popularPlace" style="border-left-color: {{:color}};">
				<div class="name" >{{:name}}</div>
				<div class="tagName">{{:tagName}}</div>
				{{if objectId}}<div _id="{{:objectId}}" class="distance"></div>{{/if}}
			</div>
		</script>
		
		<!--
			Шаблон случайной картинки на первой странице.
		-->
		<script id="randomObjectTemplate" type="text/x-jsrender">
			<div class="randomObject" style="background-image: url('{{:mainPicture}}');" _id="{{:id}}">
				<!--img src="{{:mainPicture}}" class="picture" alt="{{:name}}"-->
				<div class="title">{{:name}}</div>
				<div class="foground"></div>
			</div>
		</script>

		<!-- 
			Шаблон информации об объекте (описание).
		-->
		<script id="objectInfoDescriptionTemplate" type="text/x-jsrender">
			<div>
				{{if mainPicture}}
					<div class="randomObject" style="background-image: url('{{:mainPicture}}');">
						<div class="title"><span class="i18n">Посмотреть все фото</span> <span class="photoCount"></span></div>
						<div class="foground"></div>
					</div>
					<!--img src="{{:mainPicture}}" class="mainPicture" alt="{{:name}}"-->
				{{/if}}
				<div class="text">{{:description}}</div>
			</div>
			{{if contacts}}
			<div class="contacts">
				{{if contacts.address}}
					<span class="address">
						<span class="title i18n">Address</span><span class="text">{{:contacts.address}}</span>
					</span>
				{{/if}}
				{{if contacts.phoneNumber}}
					<div class="phone">
						<span class="title i18n">Phone</span><span class="text">{{:contacts.phoneNumber}}</span>
					</div>
				{{/if}}
			</div>
			{{/if}}
			<div class="contors">
				{{if audio}}
					<div class="button audioButton">
						<div class="img">&nbsp;</div>
						<span class="i18n">Послушать<span>
					</div>
				{{/if}}
				{{if tags.length}}
					<div class="button findOnMap i18n">Найти на карте</div>
				{{/if}}
				<div style="clear:both;"></div>
			</div>
			<div class="social">
				<div class="buttons">
					<img src="img/vkontakte.png" class="vk"/>
					<img src="img/twitter.png" class="tw"/>
					<img src="img/odnoklassniki.png" class="od"/>
				</div>
			</div>
		</script>
		
		<!-- 
			Шаблон информации об объекте (фото).
		-->
		<script id="objectInfoPhotoTemplate" type="text/x-jsrender">
			<div>
				<img src="{{:photoURL}}" class="photo">
			</div>
		</script>

		<!-- 
			Шаблон слайда тэга.
		-->
		<script id="tagSlideTemplate" type="text/x-jsrender">
			<div class="slide tagSlide" _id="{{:id}}">
				<div class="wrapper">
					<div class="cell">{{:name}}</div>
				</div>
				<div class="foground"></div>
			</div>
		</script>

		<!-- 
			Шаблон слайда объекта (на карте).
		-->
		<script id="objectSlideTemplate" type="text/x-jsrender">
			<div class="slide" _id="{{:id}}" style="height: 100%; width: 100%; position: relative;">
				<div class="nameBlock">
					<div class="relative">
						<div class="wrapper">
							<div class="cell name">
								{{:name}} 
								<div class="more i18n">подробнее</div>
							</div>
						</div>
					</div>
				</div>
				
				{{if audio}}
					<div class="foground"></div>
					<div class="audioButton" _id="{{:id}}"></div>
					<div class="distanceBlockShort">
						<div _id="{{:id}}" class="distance"></div>
					</div>
				{{else}}
					<div class="distanceBlock">
						<div class="wrapper">
							<div _id="{{:id}}" class="cell distance"></div>
						</div>
					</div>
					<div class="foground"></div>
				{{/if}}
			</div>

		</script>

		<!-- 
			Шаблон раздела с информацией о Перми.
		-->
		<script id="aboutPermSectionTemplate" type="text/x-jsrender">
			<div class="aboutPermSection">
				<div class="caption">{{:caption}}</div>
				<div class="text">{{:text}}</div>
			</div>
		</script>
	</head>
	<body>
		<div id="body">
		
			<div id="splashScreen" style="">
				<!-- div style="margin-top: 30%">Идет загрузка приложения (карты, данных и другой фигни).</div--> 
				<div class="statusLine">&nbsp;</div>
			</div>
	
			<div id="langSelectScreen" class="wrapper">
				<div class="cell">
					<div class="langSelectItem" _lang="ru" >Русский</div>
					<div class="langSelectItem" _lang="en">English</div>
				</div>
			</div>
			
			<div class="dropDownMenuBg">
				<!-- Данный фон служит чтобы при клике мимо меню сворачивать его.-->
			</div>
			
			<div id="mainScreen" class="screen" >
				<div id="mainScreenSlider" class="slider page pageSlider">
					<!-- 
						Для для программы сладера страниц, ваден только элемент с
						классом "slide", который и является страницей.
					 -->
					<div class="slide pageSlide">
						<div class="pageHeader">
							<div class="pageHeaderText">
								<div class="wrapper">
									<div class="cell i18n">Пермский гид</div>
								</div>
							</div> 
						</div>
						<div class="pageContent vScrollerBg">
							<div class="vScroller" stopPropagation="true">
								<div id="randomObjectContainer">
									<!-- Заполняется шаблонизатором -->
								</div>
								<div id="popularPlaces" class="popular">
									<div class="title i18n">Популярные места</div>
									<div id="popularPlacesContent" class="popularContent">
										<!--
										Здесь располагаются плашки с маршрутами. 
										-->
									</div>
								</div>
								<div id="popularRoutes" class="popular">
									<div class="title i18n">Интересные маршруты</div>
									<div id="popularRoutesContent" class="popularContent">
										<!--
											Здесь располагаются плашки с маршрутами. 
										-->
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="slide pageSlide">
						<div id="objectTags" class="dropDownMenu">
							<!--
								В выподающем окне, для скрипта важен только элемент 
								с классом "toggleButton", все остальные id и классы, нужны
								чтобы накладывать стиль.
							-->
							<div class="dropDownMenuContent">
								<div class="vScroller"> 
									<!-- Пусто, значения подствляются скриптом.-->
								</div>
							</div>
							<div class="toggleButton">
								<div class="arrowLeft"></div>
								<div class="tagSliderBg">
									<div id="objectTagsSlider" class="slider tagSlider" loop="true">
										<!--  Заполняется шаблонизатором, см. код -->
									</div>
								</div>
								<div class="arrowRight"></div>
								<div id="switchObjectMode" class="switchMode">
									<div class="on"></div>
									<div class="off"></div>
								</div>
								<div class="arrowDown"></div>
							</div>
						</div>
						<div class="pageHeader dropDownMenuSeparator">
							<!-- Просто что бы отодвинуть содержимое вниз. -->
						</div>
						
						<div class="pageContent">
							<div id="objectsMapContainer" class="mapContainer">
								<canvas class="canvasLayer" id="test1">
									Your browser does not support Canvas.
								</canvas>
								<div id="objectsMap" class="map">
									<div class="wrapper">
										<div class="cell">
											<div class="mapLoading">
												<div class="title i18n">MapLoadingTitle</div>
											</div>
											<div class="mapLoadFail">
												<div class="title i18n">MapLoadFailTitle</div>
												<div class="text">
													<span class="i18n">MapLoadFailText1</span>
													<span class="loadMap button i18n">MapLoadFailText2</span>
													<span class="i18n">MapLoadFailText3</span>
													<span class="toggleMode button i18n">MapLoadFailText4</span>
													<span class="i18n">MapLoadFailText5</span>
												</div>
												
											</div>
										</div>
									</div>
								</div>
								<div class="mapSliderPlace">
									<div class="arrowLeft"></div>
									<div class="mapSliderContainer">
										<div id="objectsMapSlider" class="slider mapSlider" loop="true">
											<!-- Пусто, заполняется динамически-->
										</div>
									</div>
									<div class="arrowRight"></div>
								</div>
							</div>
							<div id="objectsCatalog" class="catalog vScrollerBg">
								<div class="vScroller" stopPropagation="true"> 
									<!-- Пусто, заполняется динамически -->
								</div>
							</div>
						</div>
					</div>
					<div class="slide pageSlide">
					
						<div id="routeTags" class="dropDownMenu">
							<!--
								В выподающем окне, для скрипта важен только элемент 
								с классом "toggleButton", все остальные id и классы, нужны
								чтобы накладывать стиль.
							-->
							<div class="dropDownMenuContent">
								<div class="vScroller"> 
									<!-- Пусто, значения подствляются скриптом.-->
								</div>
							</div>
							<div class="toggleButton">
								<div class="arrowLeft"></div>
								<div class="tagSliderBg">
									<div id="routeTagsSlider" class="slider tagSlider" loop="true">
										<!--  Заполняется шаблонизатором, см. код -->
									</div>
								</div>
								<div class="arrowRight"></div>
								<div id="switchRouteMode" class="switchMode">
									<div class="on"></div>
									<div class="off"></div>
								</div>
								<div class="arrowDown"></div>
							</div>
						</div>

						<div class="pageHeader dropDownMenuSeparator">
							<!-- Просто что бы отодвинуть содержимое вниз. -->
						</div>
						
						<div class="pageContent">
							<div id="routesMapContainer" class="mapContainer">
								<canvas class="canvasLayer" id="test2">
									Your browser does not support Canvas.
								</canvas>
								<div id="routesMap" class="map">
									<div class="wrapper">
										<div class="cell">
											<div class="mapLoading">
												<div class="title i18n">MapLoadingTitle</div>
											</div>
											<div class="mapLoadFail">
												<div class="title i18n">MapLoadFailTitle</div>
												<div class="text">
													<span class="i18n">MapLoadFailText1</span>
													<span class="loadMap button i18n">MapLoadFailText2</span>
													<span class="i18n">MapLoadFailText3</span>
													<span class="toggleMode button i18n">MapLoadFailText4</span>
													<span class="i18n">MapLoadFailText5</span>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="mapSliderPlace">
									<div class="arrowLeft"></div>
									<div class="mapSliderContainer">
										<div id="routesMapSlider" class="slider mapSlider" loop="true">
											<!-- Пусто, заполняется динамически-->
										</div>
									</div>
									<div class="arrowRight"></div>
								</div>
							</div>
							
							<div id="routesCatalog" class="catalog vScrollerBg">
								<div class="vScroller" stopPropagation="true"> 
									<!-- Заполняются динамически -->
								</div>
							</div>
						</div>
					</div>
					<div class="slide pageSlide">
						<div class="pageHeader">
							<div class="pageHeaderText">
								<div class="wrapper">
									<div class="cell i18n">О Перми</div> 
								</div> 
							</div> 
						</div>
						<div class="pageContent vScrollerBg">
							<div id="aboutPerm" class="vScroller" stopPropagation="true"> 
								<!-- Заполняются динамически -->
							</div>
						</div>
					</div>
				</div>
				<div class="pageScroller pageBottom">
					<div id="pMain" _id="0" class="pageIndicator">
							
								<div class="pagePicture"></div>
								<div class="pageCaption i18n">Пермский гид</div>
								<div class="foground"></div>
					</div>
					<div id="pObjects" _id="1" class="pageIndicator">
								<div class="pagePicture"></div>
								<div class="pageCaption i18n">Места</div>
								<div class="foground"></div>
					</div>
					<div id="pWays" _id="2" class="pageIndicator">
								<div class="pagePicture"></div>
								<div class="pageCaption i18n">Маршруты</div>
								<div class="foground"></div>
					</div>
					<div id="pInfo" _id="3" class="pageIndicator">
								<div class="pagePicture"></div>
								<div class="pageCaption i18n">О Перми</div>
								<div class="foground"></div>
					</div>
				</div>			
			</div>
	
			<div id="objectScreen" class="screen"> 
				<div id="objectScreenSlider" class="slider page pageSlider">
					<!-- 
						Для для программы сладера страниц, ваден только элемент с
						классом "slide", который и является страницей.
					 -->
					<div class="slide pageSlide">
						<div class="pageHeader">
							<div class="objectName">
								<span class="wrapper">
									<span class="cell">
										
									</span>
								</span>
							</div>
							<div class="backButton"><span class="wrapper"><span class="cell i18n">Back</span></span></div>
						</div>
						<div class="pageContent vScrollerBg background">
							<div class="vScroller objectDescription">
								
							</div>
						</div>
					</div>
					<div class="slide pageSlide">
						<div class="pageHeader">
							<div class="objectName">
								<span class="wrapper">
									<span class="cell">
										
									</span>
								</span>
							</div>
							<div class="backButton"><span class="wrapper"><span class="cell i18n">Back</span></span></div>
						</div>
						<div class="pageContent vScrollerBg background">
							<div class="vScroller objectPhoto">
								
							</div>
						</div>
					</div>
				</div>
				<div class="pageScroller pageBottom" > 
					<div id="pDesc" _id="0" class="active pageIndicator">
						<div class="pagePicture"></div>
						<div class="pageCaption i18n">Описание</div>
						<div class="foground"></div>
					</div>
					<div id="pPhoto" _id="1" class="pageIndicator">
						<div class="pagePicture"></div>
						<div class="pageCaption"><span class="i18n">Фото</span> <span class="photoCount"></span></div>
						<div class="foground"></div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>