<html>
	<head>
		<title>Perm guide</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, target-densitydpi=device-dpi" />
		
		<link rel="stylesheet" type="text/css" href="style.css" />

		<script type="text/javascript" charset="utf-8" src="phonegap.js"></script>

		<script type="text/javascript" src="jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="browserTouchSupport.js"></script>
		<script type="text/javascript" src="jsrender.js"></script>

		<!-- Загрузка основного кода. -->
		<script type="text/javascript" src="permguide-observable.js"></script>
		<script type="text/javascript" src="permguide-lr.js"></script>
		<script type="text/javascript" src="permguide-scheduler.js"></script>
		<script type="text/javascript" src="permguide-touch-support.js"></script>
		<script type="text/javascript" src="permguide-toggle-button.js"></script>
		<script type="text/javascript" src="permguide-scrollable-plugin.js"></script>
		<script type="text/javascript" src="permguide-dropdownmenu-plugin.js"></script>
		<script type="text/javascript" src="permguide-slider-plugin.js"></script>
		<script type="text/javascript" src="permguide-map.js"></script>
		<script type="text/javascript" src="permguide-geolocation.js"></script>
		<script type="text/javascript" src="permguide.js"></script>

		<script type="text/javascript">
		splashInit = function() {
			// Отобразим splash-экран.
			$("#splashScreen").css("visibility", "visible");
			$("#pageSlider").css("visibility", "hidden");

			// При включении/отключении тэгов, формируем 
			PermGuide.Scheduler.attachListener("started", function (){
				var tasksCount = PermGuide.Scheduler.tasksCount();
				var finishedTasksCount = PermGuide.Scheduler.finishedTasksCount();
				$("#splashScreen .statusLine").text(""+finishedTasksCount+"/"+tasksCount);
			});
			
			// Завершим этот этап загрузки приложения.
			PermGuide.Scheduler.finished("SplashInit");
		};
		
		interfaceInit = function() {
			
			// Зададим мертвый радиус для клика в процентах экрана.
			//PermGuide.deadRadius = $(window).width()*0.04;
			PermGuide.deadRadius = 20;
			
			////
			// Вешаем событие на кнопку "Нажми, что бы закрыть"
			$(".backButton").touchclick( function () {
				PermGuide.ObjectInfoWindow.toggle();
			});
			
			////
			// Обработчик кнопки "обновления" карты.
			$(".loadMap").touchclick( function () {
				PermGuide.LoadMapManager.load();
			});
			
			////
			// Инициализируем выпадаущее окно со списком меток.
			//PermGuide.DropDownWindow.init($("#tagsMenu"));
			$(".dropDownMenu").dropdownmenu();

			////
			// Инициализируем слайдер страниц.
			//PermGuide.PageSlider.init($("#slideContainer"));
			$("#slideContainer").slider();
			
			////
			// 
			$("#objectsMapSlider").slider();

			// Просто перехватим все события, что бы они не попадали на карту.
			$(".mapSliderPlace").touchclick( function (){}, true);

			////
			// Инициализируем окна информации.
			PermGuide.ObjectInfoWindow.init($("#objectInfo"));

			var pageSlider = $("#slideContainer").data("state");
			
			// Устанавливает обработчик переключения страниц.
			pageSlider.listener = function(index) {
				//alert("listener: "+index);
				$("#pageScroller .pageIndicator").removeClass("active");
				$("#pageScroller .pageIndicator").slice(index, index+1).addClass("active");
			};
			pageSlider.listener(0); // Подсветим сразуже первую страницу.
			
			$("#pageScroller .pageIndicator").touchclick( function(event) {
				var pageId = parseInt($(event.target).parent().attr("_id"));
				pageSlider.select(pageId);
			});
			
			// Вешаем на скроллер события тача.
			$("#pageScroller").touchstart( function(event) {
				pageSlider.down(event);
			});
			
			$("#pageScroller").touchmove( function(event) {
				pageSlider.move(event);
			});

			$("#pageScroller").touchend( function(event) {
				pageSlider.up(event);
			});
			////

			////
			// Инициализация скроленга страниц.
			$(".vScroller").scrollable();
			
			////
			// Обработчик события загрузки данных 
			PermGuide.ApplicationData.attachListener("loaded", function (applicationData){
				////
				// Формирование первой страницы со случайными объектами.
				var objects = [];
				//var popularObjects = [];
				objects.push(PermGuide.ApplicationData.getRandomObject());
				objects.push(PermGuide.ApplicationData.getRandomObject());
				objects.push(PermGuide.ApplicationData.getRandomObject());
				objects.push(PermGuide.ApplicationData.getRandomObject());

				var html = "";
				$.each(objects, function(index, object) { 
					var tag = object.tags[0];
					
					html += $("#popularPlaceTemplate" ).render([{
						objectId: object.id,
						name: object.name,
						tagName: tag.name,
						color: tag.color
					}]);
					if (index%2 == 1)
						html += '<div style="clear: both;"></div>';
				});
				html += '<div style="clear: both;"></div>';
				$("#popularPlacesContent").html(html);

				////
				// Формирование первой страницы со случайными маршрутами.
				var html = "";
				var routes = PermGuide.ApplicationData.data.routes;
				$.each(routes, function(index, route) { 
					var tag = route.tags[0];
					
					html += $("#popularPlaceTemplate" ).render([{
						name: route.description,
						tagName: tag.name,
						color: tag.color
					}]);
					if (index%2 == 1)
						html += '<div style="clear: both;"></div>';
				});
				html += '<div style="clear: both;"></div>';
				$("#popularRoutesContent").html(html);
				
				////
				// Формирование выподающего окна со списком тэгов.
				$("#objectTags .vScroller").html(
					$( "#tagTemplate" ).render(applicationData.getObjectTags())
				);
				$("#objectTags").data("state").resize();   // Обновим размеры.
				
				$("#objectTags .tag").touchclick( function (event) {
					var tagId = $(event.target).parent().attr("_id");
					var tag = applicationData.getTagById(tagId);
					if (tag == null)
						return;
					tag.activate();
					// Закрываем выподающее окне при выборе тэга.
					$("#objectTags").data("state").close();
				});

				$("#routeTags .vScroller").html(
					$( "#tagTemplate" ).render(applicationData.getRouteTags())
				);
				$("#routeTags").data("state").resize();   // Обновим размеры.
				
				$("#routeTags .tag").touchclick( function (event) {
					var tagId = $(event.target).parent().attr("_id");
					var tag = applicationData.getTagById(tagId);
					if (tag == null)
						return;
					tag.activate();
					// Закрываем выподающее окне при выборе тэга.
					$("#routeTags").data("state").close();
				});
				
				////
				// Заполнение слайдера тэгов.
				$("#objectTagsSlider").html(
					$( "#tagSlideTemplate" ).render(applicationData.getObjectTags())
				);
				
				$("#routeTagsSlider").html(
					$( "#tagSlideTemplate" ).render(applicationData.getRouteTags())
				);
				
				$(".tagSlider").slider();
				
				$("#objectTagsSlider").data("state").listener = function(index, element) {
					var tagId = element.attr("_id");
					var tag = PermGuide.ApplicationData.getTagById(tagId);
					if (tag == null)
						return;
					tag.activate();
				};
				$("#routeTagsSlider").data("state").listener = function(index, element) {
					var tagId = element.attr("_id");
					var tag = PermGuide.ApplicationData.getTagById(tagId);
					if (tag == null)
						return;
					tag.activate();
				};
			});
			
			// При включении/отключении тэгов, формируем 
			PermGuide.ApplicationData.attachListener("objectsVisibleChanged", function (applicationData){
				
				// Переберем все тэги, и раставим классы в зависимости виден данный
				// тэг или нет.
				$("#objectTags .tag").each( function() {
					var tagId = $(this).attr("_id");
					var tag = applicationData.getTagById(tagId);
					if (tag == null)
						return;
					if (tag.visible)
						$(this).addClass("visibledTag");
					else
						$(this).removeClass("visibledTag");
				});
				
				// Спозиционируем слайдеры.
				var objectTag = applicationData.getVisibleObjectTags()[0];
				$("#objectTagsSlider").data("state").selectByAttr("_id", objectTag.id);
				
				////
				// Сбросим позицию каталога.
				$("#objectsCatalog .vScroller").data("state").resetPosition();
				////
				// Перерендарим каталоги.
				var objects = applicationData.getVisibleObjects("objects");
				$("#objectsCatalog .vScroller").html(
					$( "#objectsCatalogItemTemplate" ).render(objects)
				);
				
				////
				// Повешаем на вубор объекта из каталога, событие.
				$("#objectsCatalog .catalogItem").touchclick( function (event) {
					var objectId = $(event.target).parent().attr("_id");
					var object = applicationData.getObjectById(objectId);
					PermGuide.ApplicationData.selectObject(object);
				});
				
			});
			
			// При включении/отключении тэгов, формируем 
			PermGuide.ApplicationData.attachListener("routesVisibleChanged", function (applicationData){
				
				// Переберем все тэги, и раставим классы в зависимости виден данный
				// тэг или нет.
				$("#routeTags .tag").each( function() {
					var tagId = $(this).attr("_id");
					var tag = applicationData.getTagById(tagId);
					if (tag == null)
						return;
					if (tag.visible)
						$(this).addClass("visibledTag");
					else
						$(this).removeClass("visibledTag");
				});
				
				var routeTag = applicationData.getVisibleRouteTags()[0];
				$("#routeTagsSlider").data("state").selectByAttr("_id", routeTag.id);
				
				////
				// Сбросим позицию каталога.
				$("#routesCatalog .vScroller").data("state").resetPosition();
				////
				// Перерендарим каталоги.
				var objects = applicationData.getVisibleObjects("routes");
				$("#routesCatalog .vScroller").html(
					$( "#routesCatalogItemTemplate" ).render(objects)
				);
				
				////
				// Повешаем на вубор объекта из каталога, событие.
				$("#routesCatalog .catalogItem").touchclick( function (event) {
					var objectId = $(event.target).parent().attr("_id");
					var object = applicationData.getObjectById(objectId);
					PermGuide.ApplicationData.selectObject(object);
				});
			});
			
			PermGuide.ApplicationData.attachListener("objectSelected", function(object) {
				
				// Сбросим позицию дива.
				$("#objectInfo .vScroller").data("state").resetPosition();
				/*
				// Сгенерируем из шаблона новую информацию об объекте.
				$("#objectInfo .vScroller").html(
					$( "#objectInfoTemplate" ).render([object])
				);
				*/
				$("#objectInfo .objectName").text(object.name);
				$("#objectInfo .vScroller").text(object.description);
				PermGuide.ObjectInfoWindow.toggle();
			});
			
			////
			// Переключение между картой и списком объектов.
			$("#switchObjectMode").toggleButton({
				on: function() {
					$("#objectsCatalog").css("display", "none");
					$("#objectsMapContainer").css("display", "block");
					$("#objectsMapSlider").data("state").resize();
				},
				off: function() {
					$("#objectsMapContainer").css("display", "none");
					$("#objectsCatalog").css("display", "block");
				},
				state: true
			});

			////
			// Переключение между картой и списком объектов.
			$("#switchRouteMode").toggleButton({
				on: function() {
					$("#routesCatalog").css("display", "none");
					$("#routesMap").css("display", "block");
				},
				off: function() {
					$("#routesMap").css("display", "none");
					$("#routesCatalog").css("display", "block");
				},
				state: true
			});
			
			////
			// При изменении позиции устройства, поменяем указатели растояния.
			PermGuide.Geolocation.attachListener("rateRefreshed", function (){
				$(".distance").each(function (){
					var objectId = $(this).attr("_id");
					if (!objectId)
						return;
					var object = PermGuide.ApplicationData.getObjectById(objectId);
					if (!object)
						return;

					var distance = PermGuide.Geolocation.relativeDistance(object.point.lat, object.point.lng);
					if (distance > 1000)
						distance = Math.round(distance/1000)+"km";
					else
						distance = distance + "m";
					$(this).text(distance);
				});
			});

//*/
			PermGuide.Scheduler.finished("InterfaceInit");
		};
		
		dataLoad = function() {
			// Загружаем данные об объектах (достопримечательности, линии и т.д.).
			PermGuide.ApplicationData.load();
			PermGuide.ApplicationData.attachListener("loaded", function (applicationData){
				PermGuide.Scheduler.finished("DataLoad");
			});
		};
		
		mapInit = function() {
			////
			// Инициализация карты объектов.
			var objectsMapManager = new PermGuide.MapManager(jQuery("#objectsMap")[0], "objects");
			objectsMapManager.attachListener("mapObjectSelected", function (object){
				$("#objectsMapSlider").data("state").selectByAttr("_id", object.id);
			});
			// Перерерандарим слайдер объектов.
			PermGuide.ApplicationData.attachListener("objectsVisibleChanged", function (applicationData){
				////
				// Перерерандарим слайдер объектов.
				var objects = applicationData.getVisibleObjects("objects");
				$("#objectsMapSlider").html(
					$( "#objectSlideTemplate" ).render(objects)
				);
				$("#objectsMapSlider").data("state").reset();
				
				// Вешает обработсчики событий на каждый слайд.
				$("#objectsMapSlider .slide").touchclick( function (event) {
					var objectId = $(event.target).parent().attr("_id");
					var object = applicationData.getObjectById(objectId);
					PermGuide.ApplicationData.selectObject(object);
				});
				objectsMapManager.selectObjectById(objects[0].id);
			});
			
			// Обработает события на переключение слайдера объектов.
			$("#objectsMapSlider").data("state").listener = function(index, element) {
				var objectId = element.attr("_id");
				objectsMapManager.selectObjectById(objectId);
			};
			
			////
			// Инициализация карты маршрутов.
			routesMapManager = new PermGuide.MapManager(jQuery("#routesMap")[0], "routes");
			
			// Обработаем события загрузчика карты.
			PermGuide.LoadMapManager.attachListener("mapLoading", function() {
				$(".map .mapLoading").css("display", "block");
				$(".map .mapLoadFail").css("display", "none");
			});

			PermGuide.LoadMapManager.attachListener("mapLoadFail", function() {
				$(".map .mapLoading").css("display", "none");
				$(".map .mapLoadFail").css("display", "block");
			});
			
			PermGuide.LoadMapManager.load();
		};

		languageSelectInit = function() {
			if (PermGuide.Language.languageSelected)
			{
				PermGuide.Scheduler.finished("LanguageSelect");
				return;
			}
			// Повешаем на кнопки выбора языка обработчики.
			$(".langSelectItem").touchclick( function(event) {
				var lang = $(event.target).attr("_lang");
				PermGuide.Language.currentLanguage = lang;
				
				$("#langSelectScreen").css("visibility", "hidden");
				$("#splashScreen").css("visibility", "visible");
				
				// Завершим выполнение задания.
				PermGuide.Scheduler.finished("LanguageSelect");
			});
			
			$("#splashScreen").css("visibility", "hidden");
			$("#langSelectScreen").css("visibility", "visible");
		};

		closeSplash = function() {
			// Перед тем как скрыть splash интернацианализируем интерфейс.
			$(".i18n").each(function(index){
				var text = PermGuide.Language.getInterfaceString($(this).text());
				$(this).text(text);
			});
		
			////
			// Включим тестовую геолокацию.
			PermGuide.Geolocation.initTest();

			// Закроем splash-screen
			$("#splashScreen").css("visibility", "hidden");
			$("#pageSlider").css("visibility", "visible");
		};
		
		////
		// Перехватим событие о готовности phonegap к работе.
		document.addEventListener("deviceready", onDeviceReady, false);
		function onDeviceReady() {
			////
			// Включим тестовую геолокацию.
			//PermGuide.Geolocation.init();
			
			PermGuide.Scheduler.finished("PhonegapReady");
		}
		
		////
		// Сформируем правила загрузки приложения.
		$(document).ready(function() {
			
			// Перечисляются этапы загрузки приложения.
			PermGuide.Scheduler.addTask("SplashInit",{
				activateFn: splashInit,
				dependence: []
			});
			PermGuide.Scheduler.addTask("PhonegapReady");
			PermGuide.Scheduler.addTask("LanguageSelect",{
				activateFn: languageSelectInit,
				dependence: ["SplashInit"]
			});
			PermGuide.Scheduler.addTask("InterfaceInit",{
				activateFn: interfaceInit,
				dependence: ["LanguageSelect"]
			});
			PermGuide.Scheduler.addTask("DataLoad",{
				activateFn: dataLoad,
				dependence: ["InterfaceInit"]
			});
			PermGuide.Scheduler.addTask("MapInit",{
				activateFn: mapInit,
				dependence: ["InterfaceInit"]
			});
			PermGuide.Scheduler.addTask("ObjectsMapInit",{
				dependence: ["MapInit"]
			});
			PermGuide.Scheduler.addTask("RoutesMapInit",{
				dependence: ["MapInit"]
			});
			PermGuide.Scheduler.addTask("CloseSplash",{
				activateFn: closeSplash,
				dependence: ["DataLoad", "ObjectsMapInit", "RoutesMapInit"]
			});

			PermGuide.Scheduler.start();
			// */
		});

		</script>
		
		<!-- 
			Шаблон тэгов в выподающем окне.
		-->
		<script id="tagTemplate" type="text/x-jsrender">
			<div class="tag{{if visible}} visibledTag{{/if}}" _id="{{:id}}">
				<div class="color" style="background-color: {{:color}};" ></div>
				<div class="separator"></div>
				<div class="name">{{:name}}</div>
				<div class="picture" style="background-image: url('{{:picture}}');"></div>
				<div style="clear: both;"></div>
				<div class="foground"></div>
			</div>
		</script>

		<!-- 
			Шаблон пункта в каталоге.
		-->
		<script id="objectsCatalogItemTemplate" type="text/x-jsrender">
			<div class="catalogItem" _id="{{:id}}">
				<div class="name" style="border-left-color: {{:objectColor}};">{{:name}}</div>
				<div class="distanceBlock">
					<div class="wrapper">
						<div _id="{{:id}}" class="cell distance"></div>
					</div>
				</div>
				<div class="foground"></div>
			</div>
		</script>

		<script id="routesCatalogItemTemplate" type="text/x-jsrender">
			<div class="catalogItem" _id="{{:id}}">
				<div class="name" style="border-left-color: {{:routeColor}};">{{:name}}</div>
				<div class="distanceBlock">
					<div class="wrapper">
						<div _id="{{:id}}" class="cell distance"></div>
					</div>
				</div>
				<div class="foground"></div>
			</div>
		</script>

		<!-- 
			Шаблон информации об объекте.
		-->
		<script id="objectInfoTemplate" type="text/x-jsrender">
			<div>{{:name}}</div>
			<div>{{:description}}</div>
		</script>
		
		<!-- 
			Шаблон плашки с популярным местом.
		-->
		<script id="popularPlaceTemplate" type="text/x-jsrender">
			<div class="popularPlace" style="border-left-color: {{:color}};">
				<div class="name" >{{:name}}</div>
				<div class="tagName">{{:tagName}}</div>
				{{if objectId}}<div _id="{{:objectId}}" class="distance"></div>{{/if}}
			</div>
		</script>
		
		<!-- 
			Шаблон слайда тэга.
		-->
		<script id="tagSlideTemplate" type="text/x-jsrender">
			<div class="slide tagSlide" _id="{{:id}}" style="display: table;">
				<div style="display: table-cell; vertical-align: middle;">{{:name}}</div>
				<div class="foground"></div>
			</div>
		</script>

		<!-- 
			Шаблон слайда объекта (на карте).
		-->
		<script id="objectSlideTemplate" type="text/x-jsrender">
			<div class="slide" _id="{{:id}}" style="height: 100%; width: 100%; position: relative;">
				<div class="nameBlock">
					<div class="wrapper">
						<div class="cell name">{{:name}}</div>
					</div>
				</div>
				<div class="distanceBlock">
					<div class="wrapper">
						<div _id="{{:id}}" class="cell distance"></div>
					</div>
				</div>
				<div class="foground"></div>
			</div>
		</script>
	</head>
	<body>
		<div id="body">
		
			<div id="splashScreen" style="">
				<!-- div style="margin-top: 30%">Идет загрузка приложения (карты, данных и другой фигни).</div--> 
				<div class="statusLine">0/0</div>
			</div>
	
			<div id="langSelectScreen">
				<div class="langSelectItem" _lang="ru">Русский</div>
				<div class="langSelectItem" _lang="en">English</div>
			</div>
			
			<div class="dropDownMenuBg">
				<!-- Данный фон служит чтобы при клике мимо меню сворачивать его.-->
			</div>
			
			<div id="pageSlider">
				<div id="slideContainer" class="slider page">
					<!-- 
						Для для программы сладера страниц, ваден только элемент с
						классом "slide", который и является страницей.
					 -->
					<div class="slide pageSlide">
						<div class="pageHeader">
							<div class="pageHeaderText">
								<div class="wrapper">
									<div class="cell">
										Пермский гид
									</div>
								</div>
							</div> 
						</div>
						<div class="pageContent">
							<div style="height: 100%;">
								<div id="randomObject">
									<div class="title">
										Пермский академический театр
									</div>
								</div>
								<div id="popularPlaces" class="popular">
									<div class="title">
										Популярные места
									</div>
									<div id="popularPlacesContent" class="popularContent">
										<!--
										Здесь располагаются плашки с маршрутами. 
										<div class="popularPlace">
											<div class="name">Место 1</div>
											<div class="tagName">Храмы</div>
										</div>
										<div style="clear: both;"></div>
										-->
									</div>
								</div>
								<div id="popularRoutes" class="popular">
									<div class="title">
										Популярные маршруты
									</div>
									<div id="popularRoutesContent" class="popularContent">
										<!--
										<div class="popularPlace">
											<div class="name">Зеленая линия</div>
											<div class="tagName"></div>
										</div>
										<div class="popularPlace">
											<div class="name">Красная линия</div>
											<div class="tagName"></div>
										</div>
										<div style="clear: both;"></div>
										-->
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="slide pageSlide">
						<div id="objectTags" class="dropDownMenu">
							<!--
								В выподающем окне, для скрипта важен только элемент 
								с классом "toggleButton", все остальные id и классы, нужны
								чтобы накладывать стиль.
							-->
							<div class="dropDownMenuContent">
								<div class="vScroller"> 
									<!-- Пусто, значения подствляются скриптом.-->
								</div>
							</div>
							<div class="toggleButton">
								<div class="arrowLeft"></div>
								<div class="tagSliderBg">
									<div id="objectTagsSlider" class="slider tagSlider" loop="true">
										<!--  Заполняется шаблонизатором, см. код -->
									</div>
								</div>
								<div class="arrowRight"></div>
								<div id="switchObjectMode" class="switchMode">
									<div class="on"></div>
									<div class="off"></div>
								</div>
							</div>
						</div>
						<div class="pageHeader dropDownMenuSeparator">
							<!-- Просто что бы отодвинуть содержимое вниз. -->
						</div>
						
						<div class="pageContent">
							<!--canvas class="canvasLayer">
								Браузер не поддерживает Canvas.
							</canvas-->
							<div id="objectsMapContainer" class="mapContainer">
								<div id="objectsMap" class="map">
									<div class="wrapper">
										<div class="cell">
											<div class="mapLoading">
												<div class="title">Идет загрузка карты</div>
											</div>
											<div class="mapLoadFail">
												<div class="title">Карта не была загружена</div>
												<div>Возможно у вас отсутствует соединение с интернетом, установите соединение и нажмите "обновить".</div>
												<div class="loadMap">Обновить</div>
											</div>
										</div>
									</div>
								</div>
								<div class="mapSliderPlace">
									<div class="arrowLeft"></div>
									<div class="mapSliderContainer">
										<div id="objectsMapSlider" class="slider mapSlider" loop="true">
											<!-- Пусто, заполняется динамически-->
										</div>
									</div>
									<div class="arrowRight"></div>
								</div>
							</div>
							<div id="objectsCatalog" class="catalog vScrollerBg">
								<div class="vScroller" stopPropagation="true"> 
									Каталог пуст.
								</div>
							</div>
						</div>
					</div>
					<div class="slide pageSlide">
					
						<div id="routeTags" class="dropDownMenu">
							<!--
								В выподающем окне, для скрипта важен только элемент 
								с классом "toggleButton", все остальные id и классы, нужны
								чтобы накладывать стиль.
							-->
							<div class="dropDownMenuContent">
								<div class="vScroller"> 
									<!-- Пусто, значения подствляются скриптом.-->
								</div>
							</div>
							<div class="toggleButton">
								<div class="arrowLeft"></div>
								<div class="tagSliderBg">
									<div id="routeTagsSlider" class="slider tagSlider" loop="true">
										<!--  Заполняется шаблонизатором, см. код -->
									</div>
								</div>
								<div class="arrowRight"></div>
								<div id="switchRouteMode" class="switchMode">
									<div class="on"></div>
									<div class="off"></div>
								</div>
							</div>
						</div>

						<div class="pageHeader dropDownMenuSeparator">
							<!-- Просто что бы отодвинуть содержимое вниз. -->
						</div>
						
						<div class="pageContent">
							<canvas class="canvasLayer">
								Браузер не поддерживает Canvas.
							</canvas>
							<div id="routesMap" class="map">
								<div class="wrapper">
									<div class="cell">
										<div class="mapLoading">
											<div class="title">Идет загрузка карты</div>
										</div>
										<div class="mapLoadFail">
											<div class="title">Карта не была загружена</div>
											<div>Возможно у вас отсутствует соединение с интернетом, установите соединение и нажмите "обновить".</div>
											<div class="loadMap">Обновить</div>
										</div>
									</div>
								</div>
							</div>
							
							<div id="routesCatalog" class="catalog vScrollerBg">
								<div class="vScroller" stopPropagation="true"> 
									Каталог пуст.
								</div>
							</div>
						</div>
					</div>
					<div class="slide pageSlide">
						<div class="pageHeader">
							<div class="pageHeaderText">
								<div class="wrapper">
									<div class="cell">
										О Перми
									</div> 
								</div> 
							</div> 
						</div>
						<div class="pageContent">
							<div style="height: 100%;">
								<div class="i18n" style="padding-top: 30%">Заполнить фигней!!!!</div>
							</div> 
						</div>
					</div>
				</div>
				<div id="pageScroller" class="pageBottom">
					<div id="pMain" _id="0" class="pageIndicator">
							
								<div class="pagePicture"></div>
								<div class="pageCaption">Пермский гид</div>
								<div class="pageIndicatorFoground"></div>
					</div>
					<div id="pObjects" _id="1" class="pageIndicator">
								<div class="pagePicture"></div>
								<div class="pageCaption">Места</div>
								<div class="pageIndicatorFoground"></div>
					</div>
					<div id="pWays" _id="2" class="pageIndicator">
								<div class="pagePicture"></div>
								<div class="pageCaption">Маршруты</div>
								<div class="pageIndicatorFoground"></div>
					</div>
					<div id="pInfo" _id="3" class="pageIndicator">
								<div class="pagePicture"></div>
								<div class="pageCaption">О Перми</div>
								<div class="pageIndicatorFoground"></div>
					</div>
				</div>			
			</div>
	
			<div id="objectInfo"> 
				<div class="page">
					<div class="pageHeader">
						<div class="objectName">
							
						</div>
						<div class="backButton">
							
						</div>
					</div>
					<div class="pageContent vScrollerBg background">
						<div class="vScroller">
							Информации нет!
						</div>
					</div>
				</div>
				<div id="objectInfoTabs" class="pageBottom" > 
					<div _id="0" class="active pageIndicator">
								Описание
					</div>
					<div _id="1" class="pageIndicator">
								Контактная информация
					</div>
					<div _id="2" class="pageIndicator">
								Фото
					</div>
				</div>
			</div>
		</div>
	</body>
</html>