@CHARSET "UTF-8";

body {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

div {
	margin: 0px;
	padding: 0px;
}

#body {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

/**
 * Стиль splash-экрана.
 */
#splashScreen {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	text-align: center;
}

/**
 * Экран выбора языка.
 */
#langSelectScreen {
	position: absolute;
	visibility: hidden;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	
	text-align: center;
	background-color: #ffffff;
}

#langSelectScreen .langSelectItem{
	
	height: 30%;
	margin: 10%;
	background-color: #eeeeee;
	cursor: pointer;
}

/**
 * Стили элементов карты.
 */
.overlay {
	position: absolute;
	z-index: 1;
	width: 18px;
	height: 29px;
	background:
		url(http://api.yandex.ru/images/maps/ymapsml/examples/icon_station.png);
	cursor: pointer;
}

.canvasLayer {
	position: absolute;
	z-index: 1;
//	visibility: hidden;
//	width: 100%;
//	height: 100%;
}

/**
 * Стили выподающего окна и его элементов.
 */
.dropDownMenuSeparator {
	height: 7%;
	z-index: 1000; 
}

.dropDownMenuBg {
	z-index: 1002; 
	top: 0px;
	left: 0px;
	width:100%;
	height: 100%;
	position: absolute;
	display: none;
}
.dropDownMenu {
	z-index: 1002; 
	top: -43%;
	height: 50%;
	width:100%;
	position: absolute;
	background-color: #eeeeee;
}

.dropDownMenu .toggleButton {
	height: 10%;
	text-align: center;
	background-color: #666666;
}

.dropDownMenu .dropDownMenuContent {
	overflow: hidden;
	height: 90%;
}

.dropDownMenu .tag {
	cursor: pointer;
	margin: 5px;
	padding: 5px;
	background-color: #bbbbbb;
}

.dropDownMenu .visibledTag {
	background-color: #888888;
}

/**
 * Стили скроллера страниц.
 */

#pageScroller {
	height: 7%;
}

#pageScroller table {
	width: 100%;
}

#pageScroller .pageIndicator {
	text-align: center;
}

#pageSlider {
	width: 100%;
	height: 100%;
	overflow: hidden;
	border: 0px;
	margin: 0 auto;
	visibility: hidden;
	position: absolute;
	top: 0px;
	left: 0px;
}

#slideContainer {
	width: 100%;
	height: 94%;
}

.slide {
	width: 100%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	float: left;
	position: relative;
}

#objectInfo {
	background-color: #fff;
	z-index: 1100;
	width: 100%;
	height: 100%;
	overflow: hidden; //
	visibility: hidden;
	position: absolute;
	top: 100%;
	left: 0px;
}

.map
{
	height: 93%; 
	position: relative;
}

.catalog
{
	height: 93%; 
	overflow: hidden;
	display: none;
	position: relative;
}
