@CHARSET "UTF-8";

body {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	width: 100%;
	height: 100%;
	font-family: sans-serif;
}

div {
	margin: 0px;
	padding: 0px;
}

#body {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.vScrollerBg {
	overflow: hidden;
	position: relative;
}
.vScrollerBg .vScroller {
	min-height: 100%;
}

/**
 * Стиль splash-экрана.
 */
#splashScreen {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	text-align: center;
	background-image: url('img/splash.png');
	background-size: contain;
	background-color: #f00;
	background-position: center center;
	background-repeat: no-repeat;	
}
/**
* Стили содержимого общей разметки страниц
*/

.page {
	height: 93%;
}

.pageBottom {
	height: 7%;
	border-top: 2px #ff0000 solid;
}

.pageHeader {
	width: 100%;
	height: 7%;
	background-color: #333333;
}

.pageHeaderText {
	font-size: 1.7em;
	color: #fff;
	text-align: center;
}

.pageContent {
	height: 93%;
	position: relative;
}

/**
 * Экран выбора языка.
 */
#langSelectScreen {
	position: absolute;
	visibility: hidden;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	
	text-align: center;
	background-color: #ffffff;
}

#langSelectScreen .langSelectItem{
	
	height: 30%;
	margin: 10%;
	background-color: #eeeeee;
	cursor: pointer;
}

/**
 * Стили элементов карты.
 */
.overlay {
	position: absolute;
	z-index: 1;
	width: 23px;
	height: 27px;
	background: url(img/box_990000.png);
	cursor: pointer;
}

.canvasLayer {
	position: absolute;
	z-index: 1;
//	visibility: hidden;
//	width: 100%;
//	height: 100%;
}

/**
 * Стили выподающего окна и его элементов.
 */
.dropDownMenuSeparator {
	height: 7%;
	z-index: 1000;
}

.dropDownMenuBg {
	z-index: 1002; 
	top: 0px;
	left: 0px;
	width:100%;
	height: 100%;
	position: absolute;
	display: none;
}
.dropDownMenu {
	z-index: 1002; 
	top: -43%;
	height: 50%;
	width:100%;
	position: absolute;
	background-color: #4c4c4c;
}

.dropDownMenu .toggleButton {
	height: 10%;
	text-align: center;
	background-color: #333333;
}

.dropDownMenu .dropDownMenuContent {
	position: relative;
	overflow: hidden;
	height: 90%;
}

.dropDownMenu .tag {
	padding: 2px;
	position: relative;
	height: 1.9em;
	font-size: 1.2em;
	color: #fff;
}

.dropDownMenu .tag:nth-child(odd){
	background-color: #333333;
}
.dropDownMenu .tag:nth-child(even){
	background-color: #4c4c4c;
}

.dropDownMenu .tag .color {
	width: 1%; 
	height: 100%; 
	float:left;
}

.dropDownMenu .tag .separator {
	width: 5%; 
	height: 100%; 
	float:left;
}

.dropDownMenu .tag .name {
	width: 85%; 
	height: 100%; 
	float:left;
	text-align: left;
}

.dropDownMenu .tag .picture {
	width: 9%;
	height: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	float:left;
}

.dropDownMenu .tag .foground {
	top: 0px;
	left: 0px;
	width: 100%; 
	height: 100%;
	position: absolute;
	cursor: pointer;
}

.dropDownMenu .tag.visibledTag .color{
	width: 2%; 
}

.dropDownMenu .tag.visibledTag .separator{
	width: 4%; 
}

/**
 * Стили пункта катлога.
 */
.catalog {
	position: relative;
	background-color: #e5e5e5;
	overflow: hidden;
	display: none;
	height: 100%; 
}

.catalogItem {
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	position: relative;
	font-size: 1em;
	color: #000;
	min-height: 2em;
}

.catalogItem:nth-child(odd){
	background-color: #cccccc;
}
.catalogItem:nth-child(even){
	background-color: #e5e5e5;
}

.catalogItem .name {
	border-left: 0.5em #000 solid;
	width: 90%;
	padding-left: 3%;
	padding-right: 2%;
	text-align: left;
	cursor: pointer;
	min-height: 2em;
}

.catalogItem .foground {
	top: 0px;
	left: 0px;
	padding: 2px;
	width: 100%; 
	height: 100%;
	position: absolute;
	cursor: pointer;
}

/**
 * Стили скроллера страниц.
 */

#pageScroller .pageIndicator {
	width: 25%;
	height: 100%;
	position: relative;
	float: left;
	text-align: center;
	
	vertical-align: bottom;
	padding-bottom: 2px;
	font-size: 0.8em;
}

#pageScroller .pageIndicator .pageIndicatorFoground{
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	position: absolute;
	cursor: pointer;
}

#pageScroller .active {
	border-top: 2px solid #F00;
}
#pageScroller .pageIndicator .pagePicture{
	width: 100%;
	height: 44px;
	background-position: center top;
	background-repeat: no-repeat;
}

#pageScroller #pMain.pageIndicator .pagePicture{
	background-image: url('img/perm2.png');
}

#pageScroller #pObjects.pageIndicator .pagePicture{
	background-image: url('img/map2.png');
}

#pageScroller #pWays.pageIndicator .pagePicture{
	background-image: url('img/way2.png');
}

#pageScroller #pInfo.pageIndicator .pagePicture{
	background-image: url('img/about2.png');
	background-position: center -2px;
}

#pageScroller #pMain.pageIndicator.active .pagePicture{
	background-image: url('img/perm1.png');
	background-position: center -2px;
}

#pageScroller #pObjects.pageIndicator.active .pagePicture{
	background-image: url('img/map1.png');
	background-position: center -2px;
}

#pageScroller #pWays.pageIndicator.active .pagePicture{
	background-image: url('img/way1.png');
	background-position: center -2px;
}

#pageScroller #pInfo.pageIndicator.active .pagePicture{
	background-image: url('img/about1.png');
	background-position: center -2px;
}

/**
 * Стили сладера страниц.
 */ 
#pageSlider {
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	
	overflow: hidden;
	border: 0px;
	margin: 0 auto;
	visibility: hidden;
	position: absolute;
	position: relative;
}

#slideContainer {
	width: 100%;
	height: 92%;
}

.pageSlide {
	width: 100%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	float: left;
	position: relative;
}
/**
 * Стили сладера тэгов.
 */ 
.tagSliderBg {
	text-align: center; 
	overflow: hidden;
	position: relative;
	width: 84%; 
	height: 100%; 
	float: left;
}

.arrowLeft {
	width: 2%; 
	height: 100%; 
	float: left;
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url('img/arr_l.png');
}

.arrowRight {
	width: 2%; 
	height: 100%; 
	float: left;
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url('img/arr_r.png');
}

.tagSlider {
}

.tagSlide {
	width: 100%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	float: left;
	position: relative;
	font-size: 1.7em;
	color: #fff;
} 
/**
 * Стили кнопки переключения режимов.
 */

.switchMode {
	width: 10%; 
	float: left; 
	height: 100%;
	cursor: pointer;
}

.switchMode .on{
	width: 100%;
	height: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url('img/btn_list.png');
}

.switchMode .off{
	width: 100%;
	height: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url('img/btn_map.png');
}
/**
 * Стили элементов информации об объекте.
 */ 
#objectInfo {
	background-color: #fff;
	z-index: 1200;
	width: 100%;
	height: 100%;
	overflow: hidden; 
	position: absolute;
	top: 100%;
	left: 0px;
}

#objectInfo .background
{
	overflow: hidden;
	background-color: #e5e5e5;
}
	
#objectInfo .objectName{
	width: 85%;
	height: 100%;
	font-size: 1.2em;
	color: #fff;
	float: left;
}

#objectInfo .backButton{
	width: 15%;
	height: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url('img/btn_back.png');
	float: left;
	cursor: pointer;
}

#objectInfo .vScroller {
	padding-left: 2em;
	padding-right: 2em;
}

/**
 * Стили переключателя страниц информации об объекте.
 */
#objectInfoTabs {
	display: table;
	width: 100%;
}
#objectInfoTabs .pageIndicator {
	width: 33.3%;
	height: 100%;
	position: relative;
	float: left;
	text-align: center;
	
	vertical-align: middle;
	display: table-cell;
	
	padding-bottom: 2px;
	font-size: 1.2em;
	cursor: pointer;
}

#objectInfoTabs .active {
	border-top: 2px solid #F00;
}


.map {
	height: 100%; 
	position: relative;
}