@CHARSET "UTF-8";

body {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	width: 100%;
	height: 100%;
	font-family: sans-serif;
/*	font-size: 0.17in; */
}

a { /*Запрещено выделение ссылки, не знаю работает или нет*/
	/*-webkit-appearance: textarea;*/
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

div {
	margin: 0px;
	padding: 0px;
}

#dpi {
	height: 1in;
	left: -100%;
	position: absolute;
	top: -100%;
	width: 1in;
	visibility: hidden;
}

#body {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.foground {
	top: 0px;
	left: 0px;
	width: 100%; 
	height: 100%;
	position: absolute;
	cursor: pointer;
}

.slide {
	float: left;
}

.wrapper{
	display: table;
	width: 100%;
	height: 100%;
}

.cell{
	display: table-cell;
	vertical-align: middle;
}

.relative {
	position: relative;
	width: 100%;
	height: 100%;
}

/**
 * Стили дива, в созможностью скролинга.
 */
.vScrollerBg {
	overflow: hidden;
	position: relative;
}

.vScrollerBg .vScroller {
	min-height: 100%;
}

.vScrollerBg .scroller {
	position: absolute;
	top: 0px;
	bottom: 0px;
	width: 10px;
	right: 0px;
	background-color: #333;
	opacity: 0.5;
	border-radius: 3px;
}

.vScrollerBg .scroller .scrollerIndicator{
	position: absolute;
	top: 0px;
	left: 1px;
	width: 8px;
	background-color: #fff;
	border-radius: 3px;
}

/**
* Стили содержимого общей разметки страниц
*/

.page {
	position:absolute;
	width: 100%;
	top: 0px;
	bottom: 66px;
	background-color: #e5e5e5;
}

.pageBottom {
	position:absolute;
	width: 100%;
	height: 64px; /*resolution depending*/
	bottom: 0px;
	border-top: 2px #ff0000 solid;
}

.pageHeader {
	position: absolute;
	width: 100%;
	top: 0;
	height: 48px;
	background-color: #333333;
	overflow: hidden;
	min-height: 1.7em;
}

.pageHeaderText {
	font-size: 1.7em;
	color: #fff;
	text-align: center;
}

.pageContent {
	position: absolute;
	width: 100%;
	top: 48px;
	bottom: 0;
}

/**
 * Общие стили экранов.
 */
.screen {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	visibility: hidden;
}

.pageSlide {
	width: 100%;
	height: 100%;
	position: relative;
}

/**
 * Стиль splash-экрана.
 */
#splashScreen {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	text-align: center;
	background-image: url('img/s768.png');
	background-size: cover;
	background-color: #f00;
	background-position: center center;
	background-repeat: no-repeat;	
}

#splashScreen .statusLine
{
	width: 100%;
	height: 1.2em;
	left: 0px;
	bottom: 0em;
	position: absolute;
	text-align: center;
	opacity: 0.7;
	background-color: #000;
	color: #fff;
}

#splashScreen .progressBar
{
	width: 100%;
	height: 1em;
	left: 0px;
	bottom: 0.1em;
	position: absolute;
	text-align: center;
	background-color: #f00;
	visibility: hidden;
}
/**
 * Экран выбора языка.
 */
#langSelectScreen {
	visibility: hidden;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	text-align: center;
	background-image: url('img/s768.png');
	background-size: cover;
	background-color: #f00;
	background-position: center center;
	background-repeat: no-repeat;
	
}

#langSelectScreen .langSelectItem{
	
	height: 3em;
	line-height: 3em;
	
	background-color: #eeeeee;
	cursor: pointer;
	margin: 10%;
	
	opacity: 0.8;
	background-color: #000;
	color: #fff;
	font-size: 1.5em;
}
/**
 * Общие стили скроллера страниц.
 */

.pageScroller .pageIndicator {
	height: 100%;
	position: relative;
	float: left;
	text-align: center;
}

.pageScroller .active {
	border-top: 2px solid #F00;
}

/**
 * Стили скроллера страниц главного экрана.
 */

#mainScreen .pageScroller .pageIndicator {
	width: 25%;
	
	vertical-align: bottom;
	padding-bottom: 2px;
	font-size: 0.8em;
}

#mainScreen .pageScroller .pageIndicator .pagePicture{
	width: 100%;
	height: 44px;
	background-position: center top;
	background-repeat: no-repeat;
}

#mainScreen .pageScroller #pMain.pageIndicator .pagePicture{
	background-image: url('img/perm2.png');
}

#mainScreen .pageScroller #pObjects.pageIndicator .pagePicture{
	background-image: url('img/map2.png');
}

#mainScreen .pageScroller #pWays.pageIndicator .pagePicture{
	background-image: url('img/way2.png');
}

#mainScreen .pageScroller #pInfo.pageIndicator .pagePicture{
	background-image: url('img/about2.png');
}

#mainScreen .pageScroller #pMain.pageIndicator.active .pagePicture{
	background-image: url('img/perm1.png');
	background-position: center -2px;
}

#mainScreen .pageScroller #pObjects.pageIndicator.active .pagePicture{
	background-image: url('img/map1.png');
	background-position: center -2px;
}

#mainScreen .pageScroller #pWays.pageIndicator.active .pagePicture{
	background-image: url('img/way1.png');
	background-position: center -2px;
}

#mainScreen .pageScroller #pInfo.pageIndicator.active .pagePicture{
	background-image: url('img/about1.png');
	background-position: center -2px;
}

/**
 * Стили элементов карты.
 */
.boxOverlay {
	position: absolute;
	//z-index: 1;
}

.boxOverlay .bg{
	position: absolute;
	left: -20px;
	top: -20px;
	width: 40px;
	height: 40px;
	
	cursor: pointer;
	display: none;
}

.boxOverlay .box{
	position: absolute;
	left: -11px;
	top: -13px;
	width: 23px;
	height: 27px;
	background: url(img/box_990000.png);
	background-size: cover;
	background-position: center center;
	cursor: pointer;
}

.boxOverlay .box.color00ccff {
	background: url(img/box_00ccff.png);
}
.boxOverlay .box.color33cc33 {
	background: url(img/box_33cc33.png);
}
.boxOverlay .box.color4c00fe {
	background: url(img/box_4c00fe.png);
}
.boxOverlay .box.color663333 {
	background: url(img/box_663333.png);
}
.boxOverlay .box.color6699ff {
	background: url(img/box_6699ff.png);
}
.boxOverlay .box.color66ffcc {
	background: url(img/box_66ffcc.png);
}
.boxOverlay .box.color990000 {
	background: url(img/box_990000.png);
}
.boxOverlay .box.color9900cc {
	background: url(img/box_9900cc.png);
}
.boxOverlay .box.colorcccc33 {
	background: url(img/box_cccc33.png);
}
.boxOverlay .box.colordc00b7 {
	background: url(img/box_dc00b7.png);
}
.boxOverlay .box.colorff0000 {
	background: url(img/box_ff0000.png);
}
.boxOverlay .box.colorff6600 {
	background: url(img/box_ff6600.png);
}
.boxOverlay .box.colorff6699 {
	background: url(img/box_ff6699.png);
}
.boxOverlay .box.colorffcc00 {
	background: url(img/box_ffcc00.png);
}

.boxOverlay .glow{
	position: absolute;
	left: -11px;
	top: -13px;
	width: 23px;
	height: 27px;
	background: url(img/box_glow.png);
	background-repeat: no-repeat;
	background-position: center center;
	
	cursor: pointer;
	display: none;
}

.simpleOverlay {
	position: absolute;
	z-index: 1;
}

.simpleOverlay .overlayContainer {
	position: relative;
}

.simpleOverlay .img{
	position: absolute;
	left: -16px;
	top: -32px;
	width: 32px;
	height: 32px;
	background: url(img/i_am1.png);
}

.canvasLayer {
	position: absolute;
	z-index: 1;
}

/**
 * Стили выподающего окна и его элементов.
 */
.dropDownMenuSeparator {
	z-index: 1000;
}

.dropDownMenuBg {
	z-index: 1002; 
	top: 0px;
	left: 0px;
	width:100%;
	height: 100%;
	position: absolute;
	display: none;
}
.dropDownMenu {
	z-index: 1002; 
	top: -43%;
	height: 50%;
	width:100%;
	position: absolute;
	background-color: #4c4c4c;
}

.dropDownMenu .toggleButton {
	/*height: 10%;*/
	height: 48px;
	text-align: center;
	background-color: #333333;
	position: relative;
}

.dropDownMenu .dropDownMenuContent {
	position: relative;
	overflow: hidden;
	height: 90%;
}

.dropDownMenu .tag {
	padding: 2px;
	position: relative;
	height: 1.9em;
	font-size: 1.2em;
	color: #fff;
}

.dropDownMenu .tag:nth-child(odd){
	background-color: #333333;
}
.dropDownMenu .tag:nth-child(even){
	background-color: #4c4c4c;
}

.dropDownMenu .tag .color {
	width: 1%; 
	height: 100%; 
	float:left;
}

.dropDownMenu .tag .separator {
	width: 5%; 
	height: 100%; 
	float:left;
}

.dropDownMenu .tag .name {
	width: 85%; 
	height: 100%; 
	float:left;
	text-align: left;
	line-height: 1.9em;
}

.dropDownMenu .tag .picture {
	width: 9%;
	height: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	float:left;
}

.dropDownMenu .tag.visibledTag .color{
	width: 2%; 
}

.dropDownMenu .tag.visibledTag .separator{
	width: 4%; 
}

/**
 * Стили пункта катлога.
 */
.catalog {
	display: none;
	height: 100%; 
}

.catalog .vScroller {
	padding-top: 1em;
}

.catalogItem {
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	position: relative;
	font-size: 1em;
	color: #000;
	min-height: 2em;
}

.catalogItem:nth-child(odd){
	background-color: #cccccc;
}
.catalogItem:nth-child(even){
	background-color: #e5e5e5;
}
.catalogItem {
	position: relative;
}

.catalogItem .name {
	position: relative;
	border-left: 0.5em #000 solid;
	
	left: 0;
	top: 0;
	bottom: 0;
	right: 5em;
	
//	width: 85%;
	padding-left: 1em;
	padding-right: 5em;
	text-align: left;
	cursor: pointer;
	min-height: 2em;
}

.catalogItem .tagName {
	font-size: 0.8em;
	padding-top: 0.2em; 
	
}

.catalogItem .distanceBlock {
	position: absolute;
	width: 4em;
	top: 0;
	bottom: 0;
	right: 0;
	font-weight: bold;
}


/**
 * Стили сладера тэгов.
 */ 
.tagSliderBg {
	position: absolute;
	overflow: hidden;
	text-align: center; 
	left: 10px; 
	right: 70px; 
	height: 100%; 
}

.toggleButton .arrowLeft {
	position: absolute;
	left: 0px; 
	width: 10px; 
	height: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url('img/arr_l.png');
	cursor: pointer;
	
}

.toggleButton .arrowRight {
	position: absolute;
	right: 60px; 
	width: 10px; 
	height: 100%; 
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url('img/arr_r.png');
	cursor: pointer;
}

.toggleButton .arrowDown {
	position: absolute;
	left: 40%;
	top: 100%;
	width: 20%;
	height: 15px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: -5px;
	border-top-right-radius: -5px;
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url('img/arr_d.png');
	background-color: #333333;
}

.tagSlider {
	height: 100%;
}

.tagSlide {
	width: 100%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	position: relative;
	font-size: 1.7em;
	color: #fff;
}

.tagSlide .wrapper{
	margin-left: 30px;
} 

/**
 * Стили кнопки переключения режимов.
 */

.switchMode {
	position: absolute;
	width: 60px;
	right: 0px; 
	height: 100%;
	cursor: pointer;
}

.switchMode .on{
	width: 100%;
	height: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url('img/btn_list.png');
}

.switchMode .off{
	width: 100%;
	height: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url('img/btn_map.png');
}

.v_al {
	width: 1px; 
	vertical-align: middle; 
	height: 100%; 
	display: inline-block;
	font-size: 0;
}

/**
 * Стили элементов информации об объекте.
 */ 
#objectScreen {
	background-color: #fff;
	z-index: 1200;
	top: 100%;
	visibility: hidden;
}

#objectScreen .objectName{
	position: absolute;
	left: 0px;
	right: 100px;
	height: 100%;
	overflow:hidden;
	padding-left: 1em;
	font-size: 1em;
	color: #fff;
	font-size: 0.8em;
}

#objectScreen .backButton{
	position: absolute;
	right: 15px;
	width: 80px;
	height: 100%; /* resolution depending*/
	background-position: left center;
	background-repeat: no-repeat;
	background-image: url('img/btn1.png');
	cursor: pointer;
	text-align: center;
	padding: 0 5px 0 0;
//	margin: 10px 15px;
}

#objectScreen .backButton > span {
	margin-right: -5px;
	margin-left: 10px;
	background-position: right center;
	background-repeat: no-repeat;
	background-image: url('img/btn1.png');
	cursor: pointer;
}

#objectScreen .backButton > span > span{
	padding-right: 10px;
}

#objectScreen .objectDescription .mainPicture {
	width: 100%;
	border-bottom: 2px #f00 solid;
}

#objectScreen .objectDescription .contacts {
	margin-left: 1em;
	margin-right: 1em;
	margin-bottom: 1em;
	font-size: 0.8em;
}

#objectScreen .objectDescription .contors {
	text-align: center;
	margin: 1em;
}

#objectScreen .objectDescription .button {
	color: #fff;
	background-color: #4c4c4c;
	font-size: 0.8em;
	height: 3em;
	cursor: pointer;
	width: 25%;
	color: #fff;
	display: inline-block;
	line-height: 3em;
	min-height: 28px;
	margin-right: 10px;
	min-width: 10em;
}

#objectScreen .objectDescription .findOnMap {

}

#objectScreen .objectDescription .audioButton .img{
	height: 100%;
	width: 24px;
	display: inline-block;
	padding-right: 5px;
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url('img/snd_play.png');
}

#objectScreen .objectDescription .audioButton.sndWait .img{
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url('img/snd_wait.gif');
}

#objectScreen .objectDescription .audioButton.sndPlay .img{
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url('img/snd_stop.png');
}

#objectScreen .objectDescription .text {
	padding: 0.8em;
}

#objectScreen .objectPhoto .photo {
	width: 100%;
	margin-top: 0.2em;
}

#objectScreen .photoCount {
	font-size: 0.8em;
}

#objectScreen .social .buttons {
	text-align: center;
}

#objectScreen .social .buttons div{
	padding: 5px;
	cursor: pointer; 
	height: 32px;
	width: 32px;
	display: inline-block;
	background-position: center center;
	background-repeat: no-repeat;	
}

#objectScreen .social .buttons div.fb{
	background-image: url('img/facebook.png');
}

#objectScreen .social .buttons div.vk{
	background-image: url('img/vkontakte.png');
}

#objectScreen .social .buttons div.tw{
	background-image: url('img/twitter.png');
}

#objectScreen .social .buttons div.od{
	background-image: url('img/odnoklassniki.png');
}

/**
 * Стили переключателя страниц информации об объекте.
 */
#objectScreen .pageScroller{
	display: table;
	width: 100%;
}

#objectScreen .pageScroller .pageIndicator {
	width: 50%;
	vertical-align: bottom;
	font-size: 0.8em;
	padding-bottom: 2px;
}

#objectScreen .pageScroller .pageIndicator .pagePicture{
	width: 100%;
	height: 44px;
	background-position: center top;
	background-repeat: no-repeat;
}

#objectScreen .pageScroller #pDesc.pageIndicator .pagePicture{
	background-image: url('img/desc2.png');
}

#objectScreen .pageScroller #pPhoto.pageIndicator .pagePicture{
	background-image: url('img/photo2.png');
}

#objectScreen .pageScroller #pDesc.pageIndicator.active .pagePicture{
	background-image: url('img/desc1.png');
	background-position: center -2px;
}

#objectScreen .pageScroller #pPhoto.pageIndicator.active .pagePicture{
	background-image: url('img/photo1.png');
	background-position: center -2px;
}

/**
 * Стили карты.
 */
.YMaps-logo {
	user-select: none;
}

.YMaps-copyrights {
	user-select: none;
}

.mapContainer {
	width: 100%;
	height: 100%;
	position: relative;
}

.map {
	width: 100%;
	height: 100%;
	position: relative;
}

.map .mapLoading .title{
	text-align: center;
	font-size: 1.2em;
	color: #000;
	margin: 1em;
}

.map .mapLoadFail {
	text-align: center;
}

.map .mapLoadFail .title {
	font-size: 1.2em;
	color: #000;
	margin: 1em;
}

.map .mapLoadFail .text {
	margin: 1em;
	line-height: 1.7em
}

.map .mapLoadFail .button {
	padding-left: 0.3em;
	padding-right: 0.3em;
	font-size: 1.2em;
	background-color: #333333;
	color: #fff;
	cursor: pointer;
	height: 2em;
}
/**
 * Кнопки +/- на карте.
 */
.mapControl {
	position: absolute;
	left: 0;
	bottom: 3.3em;
	width: 0;
	height: 0;
	text-align: center;
	font-size: 20px;
}

.mapControl .minus {
	position: absolute;
	bottom: 0px;
	left: 10px;
	width: 40px;
	line-height: 40px;
	height: 40px;
	color: #fff;
	background-color: #000;
	cursor: pointer;
	opacity: 0.7;
	border-radius: 5px;	
}

.mapControl .plus {
	position: absolute;
	bottom: 50px;
	left: 10px;
	width: 40px;
	line-height: 40px;
	height: 40px;
	color: #fff;
	background-color: #000;
	cursor: pointer;
	opacity: 0.7;
	border-radius: 5px;	
}

.mapControl .auto {
	position: absolute;
	bottom: 100px;
	left: 10px;
	width: 40px;
	height: 40px;
	background-color: #000;
	cursor: pointer;
	opacity: 0.7;
	border-radius: 5px;
	visibility: hidden;
	
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url('img/i_search.png');
	
}
.mapControl .auto.active {
	background-color: #333;
}

/**
 * Стили оформления слайдера на карте.
 */
.mapSliderPlace {
	z-index: 500;
	position: absolute;
	width: 100%;
	height: 3.75em;
	left: 0px;
	bottom: 0px;
	opacity: 0.7;
	background-color: #000;
	color: #fff;
}

.mapSliderPlace .arrowLeft {
	position: absolute;
	left: 0px; 
	width: 10px; 
	height: 100%; 
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url('img/arr_l.png');
	cursor: pointer;
}

.mapSliderPlace .arrowRight {
	position: absolute;
	right: 0px; 
	width: 10px; 
	height: 100%; 
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url('img/arr_r.png');
	cursor: pointer;
}

.mapSliderContainer{
	position: absolute;
	left: 10px;
	right: 10px;
	height: 100%;
	overflow: hidden;
}
.mapSliderContainer .mapSlider{
	height: 100%;
}
.mapSliderContainer .slide .nameBlock {
	position: absolute;
	left: 0;
	right: 3.5em;
	top: 0;
	bottom: 0;
}

.mapSliderContainer .slide .nameBlock .name{
	padding-left: 1em; 
	padding-right: 1em;
}

.mapSliderContainer .slide .distanceBlock {
	position: absolute;
	width: 3.5em;
	right: 0;
	top: 0;
	bottom: 0;
	font-weight: bold;
	text-align: center;
}

.mapSliderContainer .slide .distanceBlockShort {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 3.5em;
	height: 1.2em;
	font-weight: bold;
	text-align: center;
}

.mapSliderContainer .slide .audioButton {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 1.2em;
	width: 3.5em;
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url('img/snd_play.png');
	cursor: pointer;
}

.mapSliderContainer .slide .audioButton.sndWait {
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url('img/snd_wait.gif');
}

.mapSliderContainer .slide .audioButton.sndPlay {
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url('img/snd_stop.png');
}

.mapSliderContainer .slide .more{
	display: inline;
	font-size: 0.8em;
	color: #66f;
}

/**
 * Стили титульной страницы.
 */

.randomObject{
	width: 100%;
	height: 33%;
	position: relative;
	background-size: contain;
	background-color: #f00;
	background-position: center center;
	background-repeat: no-repeat;
}
.randomObject .picture{
	width: 100%;
}

.randomObject .title
{
	width: 100%;
	height: 1.2em;
	line-height: 1.2em;
	font-size: 1em;
	left: 0px;
	bottom: 0em;
	position: absolute;
	text-align: center;
	opacity: 0.7;
	color: #fff;
	background-color: #000;
	overflow: hidden;
}

.popular {
	text-align: left;
	margin-bottom: 1.2em;
}

.popular .title {
	font-size: 1.2em;
	margin: 1.2em 1.2em 0.5em;
}

/**
 * Wiki раздел.
 */
.wiki h1 {
	text-align: center;
	font-size: 1.5em;
	margin: 0.8em;
}

.wiki h2 {
	text-align: center;
	font-size: 1.3em;
	margin: 0.8em;
}

.wiki h3 {
	text-align: center;
	font-size: 1.1em;
	margin: 0.8em;
}

.wiki p {
	margin: 0.8em;
}

@media only screen and (max-width: 400px)
{ 
	.page {
		font-size: 0.8em;
	}
	
	#objectScreen .objectName {
		font-size: 1em;
	}
}

/* Hi-res display */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 240dpi)
{ 
	.pageBottom {
		border-top: 4px solid #FF0000;
		height: 124px;
	}

	.page {
		bottom: 128px;
	}

	.pageHeader {
		height: 80px;
	}

	.pageContent {
		top: 80px;
	}

	.pageScroller .active {
		border-top: 4px solid #F00;
	}

	.catalogItem {
		font-size: 1.2em;
	}

	.popular .title {
		font-size: 1.4em;
	}

	#mainScreen .pageScroller .pageIndicator {
		padding-bottom: 4px;
		font-size: 1.1em;
	}

	#mainScreen .pageScroller .pageIndicator.active .pageCaption{
		margin-top: -4px;
	}

	#mainScreen .pageScroller .pageIndicator .pagePicture{
		height: 92px;
		background-position: center 4px;
	}	

	#mainScreen .pageScroller #pMain.pageIndicator .pagePicture{
		background-image: url('img/hires/perm2.png');
	}

	#mainScreen .pageScroller #pObjects.pageIndicator .pagePicture{
		background-image: url('img/hires/map2.png');
	}

	#mainScreen .pageScroller #pWays.pageIndicator .pagePicture{
		background-image: url('img/hires/way2.png');
	}

	#mainScreen .pageScroller #pInfo.pageIndicator .pagePicture{
		background-image: url('img/hires/about2.png');
	}

	#mainScreen .pageScroller #pMain.pageIndicator.active .pagePicture{
		background-image: url('img/hires/perm1.png');
		background-position: center 0px;
	}

	#mainScreen .pageScroller #pObjects.pageIndicator.active .pagePicture{
		background-image: url('img/hires/map1.png');
		background-position: center 0px;
	}

	#mainScreen .pageScroller #pWays.pageIndicator.active .pagePicture{
		background-image: url('img/hires/way1.png');
		background-position: center 0px;
	}

	#mainScreen .pageScroller #pInfo.pageIndicator.active .pagePicture{
		background-image: url('img/hires/about1.png');
		background-position: center 0px;
	}

	.switchMode .on{
		background-image: url('img/hires/btn_list.png');
	}

	.switchMode .off{
		background-image: url('img/hires/btn_map.png');
	}

	.tagSliderBg {
		right: 90px;
	}

	.toggleButton .arrowRight {
		right: 80px;
	}

	.toggleButton .arrowRight {
		right: 90px;
	}

	.switchMode {
		width: 80px;
	}

	#objectScreen .objectName {
		font-size: 1em;
	}
	
	#objectScreen .backButton{
		width: 80px;
		height: 100%; /* resolution depending*/
		background-image: url('img/btn2.png');
		padding: 0 10px 0 0;
	}

	#objectScreen .backButton > span {
		margin-right: -10px;
		margin-left: 20px;
		background-image: url('img/btn2.png');
	}
	
	#objectScreen .pageScroller .pageIndicator {
		padding-bottom: 4px;
		font-size: 1.1em;
	}

	#objectScreen .pageScroller .pageIndicator.active .pageCaption{
		margin-top: -4px;
	}

	#objectScreen .pageScroller .pageIndicator .pagePicture{
		height: 92px;
		background-position: center 4px;
	}	

	#objectScreen .pageScroller #pDesc.pageIndicator .pagePicture{
		background-image: url('img/hires/desc2.png');
	}
	
	#objectScreen .pageScroller #pPhoto.pageIndicator .pagePicture{
		background-image: url('img/hires/photo2.png');
	}
	
	#objectScreen .pageScroller #pDesc.pageIndicator.active .pagePicture{
		background-image: url('img/hires/desc1.png');
		background-position: center 0px;
	}
	
	#objectScreen .pageScroller #pPhoto.pageIndicator.active .pagePicture{
		background-image: url('img/hires/photo1.png');
		background-position: center 0px;
	}

	#objectScreen .social .buttons div{
		padding: 8px;
		height: 60px;
		width: 60px;
	}
	
	#objectScreen .social .buttons div.fb{
		background-image: url('img/hires/facebook.png');
	}
	
	#objectScreen .social .buttons div.vk{
		background-image: url('img/hires/vkontakte.png');
	}
	
	#objectScreen .social .buttons div.tw{
		background-image: url('img/hires/twitter.png');
	}
	
	#objectScreen .social .buttons div.od{
		background-image: url('img/hires/odnoklassniki.png');
	}	

	.mapSliderPlace {
		height: 5em;
	}
	
	.mapControl {
		bottom: 5.2em;
	}

	.mapControl .minus {
		width: 60px;
		line-height: 60px;
		height: 60px;
		border-radius: 7px;	
	}

	.mapControl .plus {
		bottom: 75px;
		width: 60px;
		line-height: 60px;
		height: 60px;
		border-radius: 7px;	
	}
	
	.mapControl .auto {
		bottom: 150px;
		width: 60px;
		height: 60px;
		border-radius: 7px;
	}
	

	.boxOverlay .bg{
		left: -30px;
		top: -30px;
		width: 60px;
		height: 60px;
	}
	
/*
	.boxOverlay .box{
		position: absolute;
		left: -24px;
		top: -27px;
		width: 47px;
		height: 54px;
		background: url(img/hires/box_990000.png);
	}
	
	.boxOverlay .box.color00ccff {
		background: url(img/hires/box_00ccff.png);
	}
	.boxOverlay .box.color33cc33 {
		background: url(img/hires/box_33cc33.png);
	}
	.boxOverlay .box.color4c00fe {
		background: url(img/hires/box_4c00fe.png);
	}
	.boxOverlay .box.color663333 {
		background: url(img/hires/box_663333.png);
	}
	.boxOverlay .box.color6699ff {
		background: url(img/hires/box_6699ff.png);
	}
	.boxOverlay .box.color66ffcc {
		background: url(img/hires/box_66ffcc.png);
	}
	.boxOverlay .box.color990000 {
		background: url(img/hires/box_990000.png);
	}
	.boxOverlay .box.color9900cc {
		background: url(img/hires/box_9900cc.png);
	}
	.boxOverlay .box.colorcccc33 {
		background: url(img/hires/box_cccc33.png);
	}
	.boxOverlay .box.colordc00b7 {
		background: url(img/hires/box_dc00b7.png);
	}
	.boxOverlay .box.colorff0000 {
		background: url(img/hires/box_ff0000.png);
	}
	.boxOverlay .box.colorff6600 {
		background: url(img/hires/box_ff6600.png);
	}
	.boxOverlay .box.colorff6699 {
		background: url(img/hires/box_ff6699.png);
	}
	.boxOverlay .box.colorffcc00 {
		background: url(img/hires/box_ffcc00.png);
	}
	
	.boxOverlay .glow{
		left: -26px;
		top: -29px;
		width: 51px;
		height: 58px;
		background: url(img/hires/box_glow.png);
	}
*/
}

@media only screen and (max-width: 640px)
{ 
	#splashScreen {
		background-image: url('img/s640.png');
	}
	#langSelectScreen {
		background-image: url('img/s640.png');
	}	
}

@media only screen and (max-width: 320px)
{ 
	#splashScreen {
		background-image: url('img/s320.png');
	}
	#langSelectScreen {
		background-image: url('img/s320.png');
	}	
}

