@CHARSET "UTF-8";

body {
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
	width: 100%;
	text-align: center;
}

div {
	margin: 0px;
	padding: 0px;
}

#body {
	position: absolute;
	left: 0px;
	right: 0px;
	height: 100%;
	width: 500px;
	text-align: left;
}

.relative {
	height: 100%;
	width: 500px;
	display: inline-block;
	text-align: left;
}

iframe {
	width: 500px;
	height: 100%;
	border: 0px;
}

#links {
	position: absolute; 
	top: 0px; 
	height: 140px; 
	width: 500px;
}

#links .section {	
	padding: 10px;
	
}

#links .section img{	
	float: left;
	margin-right: 10px;
}

#languages {
	position: absolute; 
	top: 135px; 
	width: 25px;
	width: 500px;
	text-align: right;
	padding: 5px;
}
#application {
	position: absolute; 
	top: 170px; 
	bottom: 10px;
}