@CHARSET "UTF-8";

body {
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
	width: 100%;
}

div {
	margin: 0px;
	padding: 0px;
}

#body {
	position: absolute;
	left: 0px;
	right: 0px;
	height: 100%;
	width: 500px;
	text-align: left;
}

iframe {
	width: 500px;
	height: 100%;
	border: 0px;
}

#links {
	position: absolute; 
	top: 0px; 
	height: 140px; 
	width: 500px;
}

#links .section {	
	padding: 10px;
	
}

#links .section img{	
	float: left;
	margin-right: 10px;
}

#application {
	position: absolute; 
	top: 140px; 
	bottom: 20px;
}